.edition {
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px 30px;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    /* text-align: center; */
}

.categoryTitle {
    text-transform: uppercase;
    font-size: 14px;
    margin: 50px 0 10px 0;
    color: #fff;
    letter-spacing: 0.75px;
    display: flex;
    align-content: center;
    gap: 6px;
}

.categoryLink {
    text-decoration: underline;
    /* font-size: 12px; */
    color: #52d1de;
    /* line-height: 17px; */
    letter-spacing: 0.25px;
}

.segmentSubtitle {
    /* position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; */
    font-size: 12px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    /* padding: 10px; */
    margin-bottom: 15px;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 5px;
}

.subtitleFlag {
    width: 22px;
    height: 22px;
    border-radius: 2px;
}

.segments {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    display: grid;
    gap: 50px;
    flex: 1;
    margin: 20px 0 40px 0;
}

.segment {
    background: #1e2939;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.segmentDetails:hover {
    background: #18212e;
}

/* .imageContainer:hover {
    opacity: 0.8;
} */

.playButton {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    background: #52d1de;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
}

/* .imageContainer:hover .playButton {
    background: #4ec7d4;
} */

.playImage {
    display: block;
    margin: auto;
    position: relative;
    right: -1px;
}

.segmentDetails {
    padding: 15px 20px 20px 20px;
    /* display: flex; */
    gap: 10px;
    flex: 1;
    align-content: center;
}

.segment h3 {
    /* text-align: center; */
    /* margin: 15px 20px 5px 20px; */
    font-size: 18px;
    flex: 1;
    margin-bottom: 10px;
}

.segment p {
    opacity: 0.6;
    /* margin: 5px 20px 30px 20px; */
    /* text-align: center; */
}

/* .segment a {
    display: block;
    background: #18212e;
    padding: 15px 20px;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
} */

.segment a:hover {
    opacity: 0.75;
}

.imageContainer {
    width: 100%;
    height: 280px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.imageContainer video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* .imageContainer:before {
    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8491596467688638) 8%, rgba(0, 0, 0, 0.6838935403262867) 16%, rgba(255, 255, 255, 0) 42%);
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 175px;
    width: 100%;
} */